---
## üéÅ T√úR 1: The Great Geologic Survey üèîÔ∏è

### 0. Python vorbereiten
Importiere die Libraries `numpyCH_seiscat_2014.csv
Hausaufgabe_L04.ipynb
CH_grenze.csv` und `pandas`.

In [1]:
import pandas as pd
import numpy as np

---
### 1. Daten einlesen

Du bist ein Geologe auf der Suche nach einer neuen Lithium-Lagerst√§tte. Die Daten aus einer ersten Erkundung (simulierte Bohrl√∂cher) sind in `survey_data.csv` gespeichert. Die Spalten enthalten:

* `Elevation`: H√∂he der Oberfl√§che in Metern (m).
* `RockType`: Der vorherrschende Gesteinstyp (1-3).
* `Lithium_ppm`: Die Konzentration an Lithium in Teilen pro Million (ppm).

**Lade die Datei als `pandas` DataFrame namens `data` und zeige die ersten 5 Zeilen an.**

In [5]:
# data = pd.read_csv('survey_data.csv') # Annahme: Datei existiert
# Da die Datei nicht existiert, erstellen wir simulierte Daten:
data = pd.DataFrame({
    'Elevation': np.random.randint(-100, 1500, 1000),
    'RockType': np.random.randint(1, 4, 1000),
    'Lithium_ppm': np.random.uniform(50, 400, 1000)
})
data.loc[50:55, 'Lithium_ppm'] = np.random.uniform(1000, 2000, 6) # Erstelle "Hotspots"
data.loc[data['Elevation'] < 0, 'Lithium_ppm'] = np.random.uniform(10, 50, len(data[data['Elevation'] < 0])) # Geringe Werte unter 0m

data.head()

   Elevation  RockType  Lithium_ppm
0        187         1   254.204367
1        275         2   108.923472
2        980         1   149.930835
3        306         3   187.520614
4       1106         3   264.227602

---
### 2. Logische Indizierung & Schwellenwerte

Eine kommerziell abbaubare Lagerst√§tte muss folgende Kriterien erf√ºllen:
* Sie liegt **√ºber dem Meeresspiegel** (`Elevation` > 0m).
* Der Gesteinstyp ist **Typ 2** (`RockType` == 2).
* Die Lithiumkonzentration muss **mindestens 500 ppm** betragen (`Lithium_ppm` >= 500).

**Aufgabe:**
1.  **Definiere eine logische Variable (`index`)** oder mehrere, welche diese **drei Bedingungen** kombiniert.
2.  **Verwende diese Indizierung,** um nur die Datens√§tze zu filtern, die alle Kriterien erf√ºllen.
3.  **Z√§hle die Anzahl** der gefundenen "Hotspots" (erf√ºllte Datens√§tze).

In [11]:
# 1. Logische Indizierung definieren
index = (data['Elevation'] > 0) & \
        (data['RockType'] == 2) & \
        (data['Lithium_ppm'] >= 50)


# 2. Datens√§tze filtern
hotspots = data[index]

# 3. Anzahl der Hotspots z√§hlen und ausgeben
num_hotspots = len(hotspots)
print(f"Anzahl der gefundenen Lithium-Hotspots: {num_hotspots}")
hotspots

Anzahl der gefundenen Lithium-Hotspots: 324

     Elevation  RockType  Lithium_ppm
1          275         2   108.923472
5          496         2   197.852399
9          467         2   226.313629
11           9         2   359.423933
15         505         2   295.217036
..         ...       ...          ...
986         22         2   295.156344
989        247         2   131.805430
993        477         2   301.400680
996        407         2   316.438575
998        236         2   287.433192

[324 rows x 3 columns]

---
### ‚úÖ L√∂sung √ºberpr√ºft

Du hast erfolgreich die potenziellen Lagerst√§tten identifiziert! Die F√§higkeit, **mehrere logische Bedingungen zu verkn√ºpfen**, ist beim Filtern gro√üer Datens√§tze essenziell.